<div class="banking-all" >
  <div class="row row-test">
    <%= render "shared/left_navbar" %>
      <div class="col-9 index-cards" data-controller="passindex searchcards">
        <div class="options-cards" data-sidebar-target="colorbank">
          <h2 class="title-invitation">Mis grupos</h2>
          <%= form_with url: groups_path, method: :get, html: { data: { searchcards_target: "searchcard" } } do |f| %>
            <div class="search-form-control form-group">
              <%= f.text_field :query,
                              class: "form-control",
                              value: params[:query],
                              data: { searchcards_target: "inputsearch", action: "keyup->searchcards#showcards"} %>
              <button class="btn btn-flat">
                <i class="fas fa-search"></i> Buscar grupo por nombre
              </button>
            </div>
          <% end %>
          <%= link_to 'Crear Grupo', new_group_path, class: "btn-active-2" %>
        </div>
          <% count_notifications = Group.where(user_id: current_user.id).count %>
            <% if count_notifications.eql?(0) %>
              <h2 class="noyetpass">No has creado Grupos todavía.</h2>
              <%= link_to new_group_path do %>
                <i class="fa-solid fa-circle-plus move-plus" id="agregar-bank"></i>
              <% end %>
            <% else %>
              <%= render "parm", groups: @groups %>
            <% end %>
            <div class="circle-fondo-mispassword"></div>
      </div>
  </div>
</div>

<script>
  document.title = "Aegis: Tus grupos";
</script>
