<div class="dashboard-body text-white">
  <div class="blue-bg container p-5">
    <div class="row">

      <div class="col-3">
        <%= render "shared/left_navbar"%>
      </div>

      <div class="blue-border-box-2">
      </div>

      <div class="col-9 pb-5">

          <h1 class="title-slide-in">Mis grupos</h1>

            <% @groups.each_with_index do |group, num| %>
              <div class="group-card p-3 mt-4 mb-4" style="
              animation: cardSlide <%= num + 1 - num * 0.75 %>s;
              ">
                <h3><%= group.name %> <%= link_to group_path(group) do %>
                  <button type="button" class="btn-group-info" style="color: white;">
                    <i class="fa-solid fa-circle-info"></i>
                  </button>
                <% end %></h3>
                <p>Usuarios de este grupo:
                <% GroupInvitation.all.each do |group_i| %>
                  <% if group.id == group_i.group.id && group_i.status == true %>
                    <span class="user-badge p-1 mx-1">@<%= group_i.user.username  %></span>
                  <% end %>
                <% end %></p>

                <p>Contraseñas de este grupo:
                <% Password.all.each do |pass| %>
                  <% if pass.group_id == group.id %>
                    <span class="user-badge p-1 mx-1"><%= pass.site_name %></span>
                  <% end %>
                <% end %></p>

              </div>
            <% end %>

            <%= link_to '+ Crear grupo', new_group_path, class: "btn btn-blue" %>


      </div>
    </div>
  </div>
</div>
