<div class="blue-bg">
  <div class="container pt-5">
  <div class="row">
    <div class="col-6 text-white">
      <h1>Detalles del grupo '<%= @group.name %>'</h1>
        <div class="row text-center mt-5 d-flex justify-content-around">
          <div class="col-5">
            <%= link_to new_group_group_invitation_path(@group) do %>
              <div class="option-card p-3">
                <img src="https://img.icons8.com/bubbles/500/000000/add-user-group-man-man.png" class="group-img">
                <h5>Agrega amigos a este grupo para que puedas compartir tus contraseñas!</h5>
              </div>
            <% end %>
          </div>
          <div class="col-5">
            <div class="option-card p-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <img src="https://img.icons8.com/bubbles/500/000000/lock.png" class="group-img">
              <h5>Selecciona que contraseña quieres compartir con tus amigos!</h5>
            </div>
          </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content modal-styles">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">¿Qué contraseñas deseas agregar?</h1>
              </div>
              <div class="modal-body">
                <% current_user.passwords.each do |password| %>
                  <%= simple_form_for password, method: :patch do |f| %>
                      <% if password.group_id == nil %>
                      <%= f.hidden_field :group_id, value: @group.id %>
                      <%= f.submit password.site_name, class: "card disabled-pass p-4 text-white my-5 w-100"  %>
                        <% else %>
                        <%= f.hidden_field :group_id, value: nil %>
                      <%= f.submit password.site_name, class: "card active-pass p-4 text-white mt-4 w-100" %>
                        <% if password.group_id.present? %>
                          <div class="group-badge">
                            <p>Pertenece al grupo <strong><%= password.group.name %></strong></p>
                          </div>
                        <% end %>
                      <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="p-3 my-5">
          <h2>Contraseñas de este grupo</h2>
          <% current_user.passwords.each do |pass| %>
            <% if pass.group_id == @group.id %>
            <div class="password-info d-flex justify-content-between p-2 mt-3 align-items-center">
              <p>Sitio: <%= pass.site_name %></p>
              <p>url - <a href="http://<%= pass.url %>"><%= pass.url %></a></p>
            </div>
            <% end %>
          <% end %>
        </div>
      <p><% $idgroup = @group.id %></p>
    </div>

    <div class="col-6 iframe-box">
      <iframe src="<%= group_group_invitations_path(@group) %>" frameborder="0"></iframe>
    </div>
  </div>
</div>
