<nav class="sidebar dark" data-controller="sidebar" data-sidebar-target="sidebarnav">
  <header>
    <div class="image-text">
      <span class="image-nav">
        <%= image_tag 'logotipo.svg' %>
      </span>
      <div class="text-nav header-text">
        <span class="name-nav">¡Hola!</span>
        <span class="profession">@<%= current_user.username  %></span>
      </div>
    </div>
    <i class="fa-solid fa-angle-right toggle-t" data-sidebar-target="togglet" data-action="click->sidebar#responsive"></i>
  </header>
  <div class="menu-bar">
    <div class="menu-menu">
      <li class="search-box" data-sidebar-target="searchbox" data-action="click->sidebar#searchbtn">
        <i class="fa-solid fa-magnifying-glass icon-nav"></i>
        <input type="text" placeholder="Search...">
      </li>
      <ul class="menu-links">
        <li class="nav-link">
          <%= link_to dashboard_path do %>
            <i class="fa-solid fa-lock icon-nav"></i>
            <span class="text-nav nav-text">Mis contraseñas</span>
          <% end %>
        </li>
        <% if current_user.group_user.eql?(true) %>
          <li class="nav-link">
            <%= link_to mygroups_path do %>
              <i class="fa-solid fa-user-group icon-nav"></i>
              <span class="text-nav nav-text">Grupos a los que pertenezco</span>
            <% end %>
          </li>
        <% end %>
        <% if current_user.premium_user == true %>
          <li class="nav-link">
            <%= link_to groups_path do %>
              <i class="fa-solid fa-users-line icon-nav"></i>
              <span class="text-nav nav-text">Mis grupos <span class="user-p">Premium</span></span>
            <% end %>
          </li>
        <% end %>
        <li class="nav-link">
          <%= link_to invitation_path do %>
            <i class="bx bxs-bell-ring icon-nav"></i>
            <span class="text-nav nav-text">Notificaciones</span>
          <% end %>
        </li>
        <li class="nav-link">
          <%= link_to bank_passwords_path do %>
            <i class="fa-solid fa-credit-card icon-nav"></i>
            <span class="text-nav nav-text">Tarjetas bancarias</span>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="bottom-content">
    <% date_in = current_user.subscription.begining_date %>
    <% date_start = "#{date_in.day}/#{date_in.month}/#{date_in.year}" %>
    <% date_out = current_user.subscription.expired_date %>
    <% if current_user.premium_user == true %>
    <% date_end = "#{date_out.day}/#{date_out.month}/#{date_out.year}" %>
      <li class="nav-subscription">
        <div class="user-first">
          <a>
            <lord-icon src="https://cdn.lordicon.com/hbvyhtse.json" trigger="loop" delay="10000" style="width:30px;height:30px" colors="primary:#cccccc"></lord-icon>
            <span class="text-nav nav-text plan-text">Usuario <span class="premium-p"><%= current_user.subscription.subscription_plan.title %></span></span>
          </a>
          <small class="text-nav nav-text plan-text">Te quedan: <%= (Date.parse(date_end) - Date.today).to_i %> días</small>
        </div>
        <div class="user-first">
          <a>
            <lord-icon  src="https://cdn.lordicon.com/qtxqkhzr.json" trigger="loop" delay="10000" style="width:30px;height:30px" colors="primary:#cccccc"></lord-icon>
            <span class="text-nav nav-text plan-text">Se activó el: <%= date_in.day  %>-<%= date_in.month  %>-<%= date_in.year  %></span>
          </a>
          <% if current_user.subscription.expired_date.eql?(nil) %>
            <small class="text-nav nav-text plan-text">No se vence</small>
          <% else %>
            <small class="text-nav nav-text plan-text">Se vence en: <%= date_out.day %>-<%= date_out.month %>-<%= date_out.year %></small>
          <% end %>
        </div>
      </li>
    <% else %>
      <li class="nav-subscription">
        <div class="user-first">
          <a>
            <lord-icon src="https://cdn.lordicon.com/hbvyhtse.json" trigger="loop" delay="10000" style="width:30px;height:30px" colors="primary:#cccccc"></lord-icon>
            <span class="text-nav nav-text plan-text">Usuario <span><%= current_user.subscription.subscription_plan.title %></span></span>
          </a>
          <small><a class="sube-premium" href="">Sube a premium</a></small>
        </div>
        <div class="user-first">
          <a>
            <lord-icon  src="https://cdn.lordicon.com/qtxqkhzr.json" trigger="loop" delay="10000" style="width:30px;height:30px" colors="primary:#cccccc"></lord-icon>
            <span class="text-nav nav-text plan-text">Se activó el: <%= date_in.day  %>-<%= date_in.month  %>-<%= date_in.year  %></span>
          </a>
          <% if current_user.subscription.expired_date.eql?(nil) %>
            <small class="text-nav nav-text plan-text">No se vence</small>
          <% end %>
        </div>
      </li>
    <% end %>
      <li class="cerrar-sesion">
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do%>
          <i class="fa-solid fa-right-from-bracket fa-flip-horizontal icon-nav"></i>
          <span class="text-nav nav-text">Cerrar sesión</span>
        <% end %>
      </li>
      <li class="dark-mode-nav">
        <div class="moon-sun">
          <i class="fa-solid fa-moon icon-nav moon"></i>
          <i class="bx bxs-sun icon-nav sun"></i>
        </div>
        <span class="mode-text text-nav" data-sidebar-target="modetext">Ligth Mode</span>
        <div class="toggle-switch" data-sidebar-target="toggleswitch" data-action="click->sidebar#darkmode">
          <span class="switch"></span>
        </div>
      </li>
    </div>
  </div>
</nav>
