<% unless user_signed_in? %>
  <div class="navigation" data-controller="navbar">
    <div class="menuToggle" data-action="click->navbar#menutoggle" data-navbar-target="menu"><i></i>
        <%= image_tag "logotipo.svg" %>
    </div>
    <div class="menu">
      <ul>
        <li style="--i:0.1s;"><%= link_to root_path do %><i class="fa-solid fa-house"></i><% end %></li>
        <li style="--i:0.2s;"><%= link_to new_user_registration_path do %><i class="fa-solid fa-user-plus"></i><% end %></li>
        <li></li>
        <li style="--i:0.2s;"><%= link_to root_path(anchor: "generator") do %><i class="fa-solid fa-lock"></i><% end %></li>
        <li style="--i:0.1s;"><%= link_to new_user_session_path do %><i class="fa-solid fa-right-to-bracket"></i><% end %></li>
      </ul>
    </div>
  </div>
<% end %>
