<% unless user_signed_in? %>
<div class="full-container">
    <div class="container-hero-section">
      <div class="hero-section">
        <div class="banner">
          <div class="headline">
            <h1>Traete tus contraseñas</h1>
            <div><h2>No las olvides más, guardalas una sola vez y despreocúpate.</h2></div>
          </div>
          <div class="img-banner">
            <div class="image-social-media">
              <div class="sign-animation">
                <i class="fa-solid fa-arrow-pointer"></i>
                  <header>
                    <h2>Guarda tu contraseña</h2>
                    <%= image_tag "isotipo.svg" %>
                  </header>
                  <main>
                    <div class="input-animation">
                      <span>zarco@aegis.com</span>
                      <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="input-animation">
                      <span>Aeg15AppW3b</span>
                      <i class="fa-solid fa-lock"></i>
                    </div>
                  </main>
                  <footer>
                    <div class="button-animation">Guardar</div>
                  </footer>
              </div>
              <img src="https://img.icons8.com/bubbles/100/000000/canva-app.png"class="flaticon">
              <img src="https://img.icons8.com/bubbles/100/000000/github.png" class="flaticon">
              <img src="https://img.icons8.com/bubbles/100/000000/dropbox.png"class="flaticon">
              <img src="https://img.icons8.com/bubbles/100/000000/facebook-f.png"class="flaticon">
              <img src="https://img.icons8.com/bubbles/100/000000/figma.png" class="flaticon">
              <%= image_tag "lewagon.png", class: "flaticon" %>
              <img src="https://img.icons8.com/bubbles/100/000000/gmail-new.png"class="flaticon">
              <img src="https://img.icons8.com/bubbles/100/000000/epic-games.png"class="flaticon">
              <img src="https://img.icons8.com/bubbles/100/000000/crunchyroll.png"class="flaticon">
              <img src="https://img.icons8.com/bubbles/100/000000/instagram-new--v2.png" class="flaticon">
              <img src="https://img.icons8.com/bubbles/100/000000/spotify.png"class="flaticon">
              <img src="https://img.icons8.com/bubbles/100/000000/amazon.png"class="flaticon">
              <img src="https://img.icons8.com/bubbles/100/000000/linkedin.png"class="flaticon">
              <img src="https://img.icons8.com/bubbles/100/000000/microsoft-outlook-2019.png"class="flaticon">
              <img src="https://img.icons8.com/bubbles/100/000000/reddit.png"class="flaticon">
              <img src="https://img.icons8.com/bubbles/100/000000/pinterest.png"class="flaticon">
              <img src="https://img.icons8.com/bubbles/100/000000/amazon-prime-video.png"class="flaticon">
              <img src="https://img.icons8.com/bubbles/100/000000/tiktok.png"class="flaticon">
              <img src="https://img.icons8.com/bubbles/100/000000/twitch.png"class="flaticon">
              <img src="https://img.icons8.com/bubbles/100/000000/twitter-circled.png"class="flaticon">
              <img src="https://img.icons8.com/bubbles/100/000000/youtube-squared.png"class="flaticon">
              <img src="https://img.icons8.com/bubbles/100/000000/netflix.png"class="flaticon">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="services-section">
      <div class="services-container">
        <h2>Nuestros servicios</h2>
          <div class="cards-services">
            <div class="services-card">
              <img src="https://img.icons8.com/bubbles/500/000000/lock.png" class="item-services">
              <h3>Almacena contraseñas</h3>
              <p class="">No más "Olvidé mi contraseña". Guárdala en nuestra bóveda y despreocúpate por recordarla.</p>
            </div>
            <div class="services-card">
              <img src="https://img.icons8.com/bubbles/500/000000/man-window-lock.png" class="item-services">
              <h3>Genera contraseñas seguras</h3>
              <p class="">¿Te da pereza tener que pensar en una contraseña segura para cada sitio? Nosotros lo hacemos por ti.</p>
            </div>
            <div class="services-card">
              <img src="https://img.icons8.com/bubbles/500/000000/bank-card-front-side.png" class="item-services">
              <h3>Guarda tarjetas bancarias</h3>
              <p class="">¿Haces compras online y siempre olvidas los datos de tu tarjeta? Eso no volverá a pasar.</p>
            </div>
            <div class="services-card">
              <img src="https://img.icons8.com/bubbles/500/000000/crowd--v2.png" class="item-services">
              <h3>Crea grupos para compartir</h3>
              <p class="">Quieres que tus amigos puedan acceder a tus sitios?, solo crea un grupo y comparte esas contraseñas.</p>
            </div>
            <div class="services-card">
              <img src="https://img.icons8.com/bubbles/500/000000/monitor.png" class="item-services">
              <h3>Accede desde cualquier lugar</h3>
              <p class="">En Namibia, en los Alpes y en los Campos Elíseos, ¡desde cualquier lugar puedes acceder a tus contraseñas!</p>
            </div>
            <div class="services-card">
              <img src="https://img.icons8.com/bubbles/500/000000/bookmark-ribbon.png" class="item-services">
              <h3>Aprende y gana</h3>
              <p class="">Recibe recompensas por completrar misiones y aprende tips de seguridad al navegar en la web.</p>
            </div>
          </div>
      </div>
    </div>
</div>

      <%# <div class="section-cards-profiles">
              <h2 class="subtitle"><span>Aegis</span> es para <span>todos</span></h2>
              <div class="cards-clients">
                  <div class="card">
                      <figure>
                          <img src="images/pic-woman-1.png" alt="" class="services">
                      </figure>
                      <div class="text">
                          <h3>Empresas</h3>
                          <p>Aegis hace todo lo que tu esperarias desde administrar un password y mas.</p>
                          <a href="#" class="plan">Plan premium ></a>
                      </div>
                      <img src="images/flaticon-7.png" alt="" class="flaticon">

                  </div>
                  <div class="card">
                      <figure>
                          <img src="images/pic-woman-2.png" alt="" class="services">
                      </figure>
                      <div class="text">
                          <h3>Estudiantes</h3>
                          <p>Aegis hace todo lo que tu esperarias desde administrar un password y mas.</p>
                          <a href="#" class="plan">Plan personal ></a>
                      </div>
                      <img src="images/flaticon-8.png" alt="" class="flaticon">

                  </div>
                  <div class="card">
                      <figure>
                          <img src="images/pic-man-1.png" alt="" class="services">
                      </figure>
                      <div class="text">
                          <h3>Profesionales</h3>
                          <p>Aegis hace todo lo que tu esperarias desde administrar un password y mas.</p>
                          <a href="#" class="plan">Plan premium ></a>
                      </div>
                      <img src="images/flaticon-9.png" alt="" class="flaticon">

                  </div>
                  <div class="card">
                      <figure>
                          <img src="images/pic-man-2.png" alt="" class="services">
                      </figure>
                      <div class="text">
                          <h3>Emprendedores</h3>
                          <p>Aegis hace todo lo que tu esperarias desde administrar un password y mas.</p>
                          <a href="#" class="plan">Plan personal ></a>
                      </div>
                          <img src="images/flaticon-10.png" alt="" class="flaticon">

                  </div>
              </div>
      </div> %>

      <%# <div class="ball-pink"></div> %>

      <%# <div class="section-passwords-free">
              <h2 class="subtitle">Prueba <span>gratis</span> nuestros <span>passwords!!!</span></h2>

              <div class="passwords">
                  <div class="try-passwords">


                  </div>
                  <div class="email">

                  </div>
              </div>
              <a href="#" class="passwords-cta">Guardar contraseña</a>
              <div class="ball-pink"></div>


      </div> %>

      <%# <div class="section-plan">
          <h2 class="subtitle">Adquiere <span>Ya tu plan!!!</span></h2>
          <div class="cards">
              <div class="card-personal">
                  <h3>Personal ae<span>gis</span></h3>
                  <img src="images/flaticon-2.png" alt="" class="services-img">

                  <div class="article-text">
                      <div class="article">
                          <img src="images/check-list-favicon.png" alt="" class="services">
                          <p>20 passwords</p>
                      </div>
                      <div class="article">

                      </div>
                      <div class="article">
                          <img src="images/check-list-favicon.png" alt="" class="services">
                          <p>Crea tus propias categorias</p>

                      </div>
                      <div class="article">
                          <img src="images/check-list-favicon.png" alt="" class="services">
                                      <p>Passwords bancarios</p>
                      </div>
                      <div class="article">
                          <img src="images/check-list-favicon.png" alt="" class="services">
                          <p>Actualizar passwords</p>
                      </div>
                      <div class="article">

                      <img src="images/cancel-list-favicon.png" alt="" class="services">
                      <p>Crea y administra sus grupos</p>

                      </div>
                  </div>
                <a href="#" class="cta-register">Registrate</a>
              </div>

              <div class="card-premium">
                  <h3>Premium ae<span>gis</span></h3>
                  <img src="images/flaticon-10.png" alt="" class="services-img">
                  <div class="article-text">
                      <div class="article">
                          <img src="images/check-list-favicon.png" alt="" class="services">
                          <p>Passwords ilimitados</p>
                      </div>
                      <div class="article">
                          <img src="images/check-list-favicon.png" alt="" class="services">
                          <p>Crea tus propias categorias</p>

                      </div>
                      <div class="article">
                          <img src="images/check-list-favicon.png" alt="" class="services">
                          <p>Passwords bancarios</p>

                      </div>
                      <div class="article">
                          <img src="images/check-list-favicon.png" alt="" class="services">
                          <p>Actualizar passwords</p>

                      </div>
                      <div class="article">
                          <img src="images/check-list-favicon.png" alt="" class="services">
                          <p>Crea y administra sus grupos</p>

                      </div>
                  </div>
                      <a href="#" class="cta-register">Registrate</a>
              </div>
          </div>

      </div> %>

      <%# <div class="section-testimonies">
          <h2 class="subtitle">Testimonios</h2>
          <div class="cards-testimonies">
              <div class="card cards-1">
                  <div class="text-1">
                      <img src="images/testimony-1.png" alt="" class="services">
                      <h3>Jacob Jones</h3>
                  </div>
                  <div class="text-2">
                      <p>¡Esta app es muy útil! La uso constantemente para llevar un registro de todas las contraseñas!</p>
                      <img src="images/rating-stars.png" alt="" class="rating-stars">
                  </div>
              </div>
              <div class="card cards-2">
                  <div class="text-1">
                      <img src="images/testimony-2.png" alt="" class="services">
                      <h3>Devon Lane</h3>
                  </div>
                  <div class="text-2">
                      <p>Sinceramente, no podría vivir sin esta aplicación.</p>
                      <img src="images/rating-stars.png" alt="" class="rating-stars">
                  </div>
              </div>
              <div class="card cards-3">
                  <div class="text-1">
                      <img src="images/testimony-3.png" alt="" class="services">
                      <h3>Darrell Steward</h3>
                  </div>
                  <div class="text-2">
                      <p>Soy  bastante exigente y esta aplicación ha superado mis expectativas en todos los niveles.</p>
                      <img src="images/rating-stars.png" alt="" class="rating-stars">
                  </div>
              </div>
              <div class="card cards-4">
                  <div class="text-1">
                      <img src="images/testimony-4.png" alt="" class="services">
                      <h3>Jane Cooper</h3>
                  </div>
                  <div class="text-2">
                      <p>Adoro esta aplicación, de verdad.</p>
                      <img src="images/rating-stars.png" alt="" class="rating-stars">
                  </div>
              </div>
              <div class="card cards-5">
                  <div class="text-1">
                      <img src="images/testimony-5.png" alt="" class="services">
                      <h3>Leslie Alexander</h3>
                  </div>
                  <div class="text-2">
                      <p>Hacen que mi vida sea más segura y fácil.</p>
                      <img src="images/rating-stars.png" alt="" class="rating-stars">
                  </div>
              </div>
          </div>
      </div> %>

      <%# <div class="section-sponsor">
          <h2 class="subtitle">Empresas que <span>confian</span> en <span>nosotros</span></h2>
          <div class="section-company-sponsor">
              <div class="company">
                  <img src="images/sponsor-1.jpg" alt="" class="sponsor">
              </div>
              <div class="company">
                  <img src="images/sponsor-2.jpg" alt="" class="sponsor">
              </div>
              <div class="company">
                  <img src="images/sponsor-3.jpg" alt="" class="sponsor">
              </div>
              <div class="company">
                  <img src="images/sponsor-4.jpg" alt="" class="sponsor">
              </div>
              <div class="company">
                  <img src="images/sponsor-5.jpg" alt="" class="sponsor">
              </div>
              <div class="company">
                  <img src="images/sponsor-6.jpg" alt="" class="sponsor">
              </div>
              <div class="company">
                  <img src="images/sponsor-7.jpg" alt="" class="sponsor">
              </div>
          </div>

      </div> %>

      <%# <div class="ball-pink"></div> %>

      <%# <div class="footer">
          <div class="column-1-footer">

                  <img class="logo" src="images/logo-name.png" alt="">
                  <div class="column-social-media">
                      <p>Medellin | Colombia</p>
                      <div class="social-media">
                          <a href="https://es-la.facebook.com/"><img src="images/facebook.png" alt="" class="item-media"></a>
                          <a href="https://www.instagram.com/"><img src="images/instagram.png" alt="" class="item-media"></a>
                          <a href="https://www.youtube.com/"><img src="images/youtube.png" alt="" class="item-media"></a>
                          <a href="https://twitter.com/?lang=es"><img src="images/twitter.png" alt="" class="item-media"></a>
                      </div>
                  </div>
          </div>
          <div class="column-2-footer">
              <h4>Conectate con aegis</h4>
              <div class="connect-aegis">
                  <p>Soporte al cliente</p>
                  <p>Politica de privacidad</p>
                  <p>Terminos y condiciones</p>
                  <p>Servicios externos</p>


              </div>
          </div>
          <div class="column-3-footer">
              <h4>Acerca de aegis</h4>
              <div class="about-aegis">
                  <p>Que es aegis</p>
                  <p>Nuestra identidad</p>
                  <p>Marca y logotipo</p>
                  <p>Mision y vision</p>

              </div>
          </div>
      </div> %>
      <% else %>

<% date_in = current_user.subscription.begining_date %>
  <% date_start = "#{date_in.day}/#{date_in.month}/#{date_in.year}" %>
  <div class="container p-5 bg-secondary">
    <h1>Tienes un plan: <%= current_user.subscription.subscription_plan.title %></h1>
    <p>Se activo el: <%= date_in.day  %>-<%= date_in.month  %>-<%= date_in.year  %></p>
    <% if current_user.subscription.expired_date.eql?(nil) %>
      <p>No se vence</p>
    <% else %>
      <% date_out = current_user.subscription.expired_date %>
      <% date_end = "#{date_out.day}/#{date_out.month}/#{date_out.year}" %>
      <p>Se vence en: <%= date_out.day %>-<%= date_out.month %>-<%= date_out.year %></p>
      <p>Te quedan: <%= (Date.parse(date_end) - Date.parse(date_start)).to_i %> días</p>
    <% end %>
  </div>
      <% end %>
