<% unless user_signed_in? %>
<!--<div id="preloader">
  <%= image_tag "isologotipo.svg" %>
  <i class='bx bx-loader-alt bx-spin' style='color:#32A6BE' ></i>
</div>-->

<div id="landing"> <!--class="landing-d"-->
  <div class="full-container">
      <div class="container-hero-section">
        <div class="hero-section">
          <div class="banner">
            <div class="headline">
              <h1>Tráete tus contraseñas</h1>
              <div><h2>No las olvides más, guardalas una sola vez y despreocúpate.</h2></div>
              <%= link_to "¡Comienza gratis!", new_user_registration_path(premium: "false") %>
            </div>
            <div class="img-banner">
              <div class="image-social-media">
                <div class="sign-animation">
                  <i class="fa-solid fa-arrow-pointer"></i>
                    <header>
                      <h2>Guarda tu contraseña</h2>
                      <%= image_tag "isotipo.svg" %>
                    </header>
                    <main>
                      <div class="input-animation">
                        <span>zarco@aegis.com</span>
                        <i class="fa-solid fa-user"></i>
                      </div>
                      <div class="input-animation">
                        <span>Aeg15AppW3b</span>
                        <i class="fa-solid fa-lock"></i>
                      </div>
                    </main>
                    <footer>
                      <div class="button-animation">Guardar</div>
                    </footer>
                </div>
                <img src="https://img.icons8.com/bubbles/100/000000/canva-app.png"class="flaticon">
                <img src="https://img.icons8.com/bubbles/100/000000/github.png" class="flaticon">
                <img src="https://img.icons8.com/bubbles/100/000000/dropbox.png"class="flaticon">
                <img src="https://img.icons8.com/bubbles/100/000000/facebook-f.png"class="flaticon">
                <img src="https://img.icons8.com/bubbles/100/000000/figma.png" class="flaticon">
                <%= image_tag "lewagon.png", class: "flaticon" %>
                <img src="https://img.icons8.com/bubbles/100/000000/gmail-new.png"class="flaticon">
                <img src="https://img.icons8.com/bubbles/100/000000/epic-games.png"class="flaticon">
                <img src="https://img.icons8.com/bubbles/100/000000/crunchyroll.png"class="flaticon">
                <img src="https://img.icons8.com/bubbles/100/000000/instagram-new--v2.png" class="flaticon">
                <img src="https://img.icons8.com/bubbles/100/000000/spotify.png"class="flaticon">
                <img src="https://img.icons8.com/bubbles/100/000000/amazon.png"class="flaticon">
                <img src="https://img.icons8.com/bubbles/100/000000/linkedin.png"class="flaticon">
                <img src="https://img.icons8.com/bubbles/100/000000/microsoft-outlook-2019.png"class="flaticon">
                <img src="https://img.icons8.com/bubbles/100/000000/reddit.png"class="flaticon">
                <img src="https://img.icons8.com/bubbles/100/000000/pinterest.png"class="flaticon">
                <img src="https://img.icons8.com/bubbles/100/000000/amazon-prime-video.png"class="flaticon">
                <img src="https://img.icons8.com/bubbles/100/000000/tiktok.png"class="flaticon">
                <img src="https://img.icons8.com/bubbles/100/000000/twitch.png"class="flaticon">
                <img src="https://img.icons8.com/bubbles/100/000000/twitter-circled.png"class="flaticon">
                <img src="https://img.icons8.com/bubbles/100/000000/youtube-squared.png"class="flaticon">
                <img src="https://img.icons8.com/bubbles/100/000000/netflix.png"class="flaticon">
              </div>
            </div>
          </div>
        </div>
        <div class="circle-fondo-hero"></div>
      </div>

      <div id="services" class="services-section">
        <div class="services-container">
          <h2>Nuestros servicios</h2>
            <div class="cards-services">
              <div class="services-card">
                <img src="https://img.icons8.com/bubbles/500/000000/lock.png" class="item-services">
                <h3>Almacena contraseñas</h3>
                <p class="">No más "Olvidé mi contraseña". Guárdala en nuestra bóveda y despreocúpate por recordarla.</p>
              </div>
              <div class="services-card">
                <img src="https://img.icons8.com/bubbles/500/000000/man-window-lock.png" class="item-services">
                <h3>Genera contraseñas seguras</h3>
                <p class="">¿Te da pereza tener que pensar en una contraseña segura para cada sitio? Nosotros lo hacemos por ti.</p>
              </div>
              <div class="services-card">
                <img src="https://img.icons8.com/bubbles/500/000000/bank-card-front-side.png" class="item-services">
                <h3>Guarda tarjetas bancarias</h3>
                <p class="">¿Haces compras online y siempre olvidas los datos de tu tarjeta? Eso no volverá a pasar.</p>
              </div>
              <div class="services-card">
                <img src="https://img.icons8.com/bubbles/500/000000/crowd--v2.png" class="item-services">
                <h3>Crea grupos para compartir</h3>
                <p class="">¿Quieres que tus amigos puedan acceder a tus sitios? Solo crea un grupo y comparte esas contraseñas.</p>
              </div>
              <div class="services-card">
                <img src="https://img.icons8.com/bubbles/500/000000/monitor.png" class="item-services">
                <h3>Accede desde cualquier lugar</h3>
                <p class="">En Namibia, en los Alpes y en los Campos Elíseos, ¡desde cualquier lugar puedes acceder a tus contraseñas!</p>
              </div>
              <div class="services-card">
                <img src="https://img.icons8.com/bubbles/500/000000/bookmark-ribbon.png" class="item-services">
                <h3>Aprende y gana</h3>
                <p class="">Recibe recompensas por completrar misiones y aprende tips de seguridad al navegar en la web.</p>
              </div>
            </div>
        </div>
      </div>
  </div>

  <div id="profiles" class="section-cards-profiles">
    <div class="section-target">
      <header>
        <%= image_tag "isotipo.svg" %>
        <h2>es para todos los perfiles</h2>
      </header>
      <div class="cards-clients">
        <div class="card">
          <img src="https://img.icons8.com/bubbles/500/000000/business-man-in-blue-jacket.png"/>
          <div class="text">
            <h3>Empresas</h3>
            <p>Crea un grupo con acceso a las contraseñas de tu empresa y compártelas con sus miembros.</p>
            <%= link_to new_user_registration_path(premium: "true") do %>
              Plan premium<i class="fa-solid fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
        <div class="card">
          <img src="https://img.icons8.com/bubbles/500/000000/student-male.png"/>
          <div class="text">
            <h3>Estudiantes</h3>
            <p>No dejes que una contraseña olvidada te impida entregar esa tarea. Nosotros nos encargamos de recordarlas por ti.</p>
            <%= link_to new_user_registration_path(premium: "false") do %>
              Plan basic<i class="fa-solid fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
        <div class="card">
          <img src="https://img.icons8.com/bubbles/500/000000/brown-short-curly-hair-lady.png"/>
          <div class="text">
            <h3>Profesionales</h3>
            <p>Almacena tus contraseñas y tarjetas bancarias en un solo lugar y ahorra tiempo al momento de ingresar en tus sitios.</p>
            <%= link_to new_user_registration_path(premium: "true") do %>
              Plan premium<i class="fa-solid fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
        <div class="card">
          <img src="https://img.icons8.com/bubbles/500/000000/man-in-blue-t-shirt.png"/>
          <div class="text">
            <h3>Freelancers</h3>
            <p>No importa dónde estés ni cuántas contraseñas manejes. Ten siempre todo al alcance de un solo clic.</p>
            <%= link_to new_user_registration_path(premium: "false") do %>
              Plan basic<i class="fa-solid fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="generator" class="section-passwords-free" data-controller="passgenerate">
    <div class="passwords-section">
      <h2>Prueba nuestro generador de contraseñas seguras</h2>
      <div class="passwords-generate">
        <div class="password-generating">
          <form action="" class="generating-form">
            <input class="inputpass-g" type="text" maxlength="35" data-passgenerate-target="textinput" data-action="keyup->passgenerate#text">
            <i class="fa-regular fa-copy" data-action="click->passgenerate#copypass"></i>
            <span class="texto-aparece" data-passgenerate-target="textshow">Contraseña copiada <i class="fa-solid fa-check"></i></span>
            <div class="progress-pass">
              <div class="carga-barra" data-passgenerate-target="divcarga"></div>
            </div>
        </div>
        <div class="options-password">
            <div class="longitud-password">
              <label for="longitud">Longitud de la contraseña</label>
              <div>
                <input type="number" min="0" max="35" readonly value="18" data-passgenerate-target="lengthnumber" id="numberlength">
                <input type="range" name="longitud" id="longitud" min="0" max="35" value="18" data-action="input->passgenerate#range" data-passgenerate-target="rangeinput">
              </div>
            </div>
            <div class="options-check">
                <div>
                  <label for="mayu">Mayúsculas</label>
                  <input type="checkbox" value="Mayus" data-passgenerate-target="mayus" data-action="input->passgenerate#checkbox1" checked id="mayu">
                </div>
                <div>
                  <label for="number">Números</label>
                  <input type="checkbox" value="Numeros" data-passgenerate-target="numbers" data-action="input->passgenerate#checkbox2" checked id="number">
                </div>
                <div>
                  <label for="symbol">Símbolos</label>
                  <input type="checkbox" value="Simbolos" data-passgenerate-target="symbols" data-action="input->passgenerate#checkbox3" checked id="symbol">
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="plains" class="subs-container" data-controller="signup">
    <div class="subs-container-center">
      <h2>Empieza gratis sube a <span>premium</span> y deja de olvidar tus contraseñas </h2>
      <div class="container-plans">
        <div class="subscription-container" data-signup-target="subscontainer">
          <div class="basic-container" data-action="mouseover->signup#hover" data-signup-target="basic">
            <div class="info-plan">
              <h2>PLÁN BASICO</h2>
              <span>¡Comienza Gratis!</span>
                <div class="price-container">
                  <h2>GRATIS</h2>
                </div>
            </div>
            <div class="basic-features">
              <div class="feature-container">
                <i class="fa-solid fa-circle-check"></i>
                <p>Almacena hasta 5 contraseñas</p>
              </div>
              <div class="feature-container">
                <i class="fa-solid fa-circle-check"></i>
                <p>Guarda hasta 5 tarjetas bancarias</p>
              </div>
              <div class="feature-container">
                <i class="fa-solid fa-circle-check"></i>
                <p>Ve contraseñas que te compartan</p>
              </div>
              <div class="feature-container">
                <i class="fa-sharp fa-solid fa-circle-xmark"></i>
                <p>Crea grupos y agrega contraseñas</p>
              </div>
              <div class="feature-container">
                <i class="fa-sharp fa-solid fa-circle-xmark"></i>
                <p>Comparte tus contraseñas</p>
              </div>
            </div>
            <div class="button-basic">
              <%= link_to new_user_registration_path(premium: "false") do %>
                <button value="premium">Comienza gratis</button>
              <% end %>
            </div>
          </div>
          <div class="basic-container premium-container" data-action="mouseover->signup#hoverp" data-signup-target="premium">
            <div class="info-plan">
              <h2>PLAN PREMIUM MENSUAL</h2>
              <span>¡Ahorras $25 USD!</span>
              <div class="price-container active">
                <span><del>$60</del></span>
                <h2>$35</h2>
              </div>
            </div>
            <div class="basic-features">
              <div class="feature-container">
                <i class="fa-solid fa-circle-check"></i>
                <p>Almacena contraseñas ilimitadas</p>
              </div>
              <div class="feature-container">
                <i class="fa-solid fa-circle-check"></i>
                <p>Guarda tarjetas bancarias ilimitadas</p>
              </div>
              <div class="feature-container">
                <i class="fa-solid fa-circle-check"></i>
                <p>Ve contraseñas que te compartan</p>
              </div>
              <div class="feature-container">
                <i class="fa-solid fa-circle-check"></i>
                <p>Crea grupos y agrega contraseñas</p>
              </div>
              <div class="feature-container">
                <i class="fa-solid fa-circle-check"></i>
                <p>Comparte tus contraseñas</p>
              </div>
            </div>
            <div class="button-basic button-premium">
              <%= link_to new_user_registration_path(premium: "true") do %>
                <button value="premium">¡Sube a premium ahora!</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-testimonies">
    <div class="testimonies-center">
      <header>
        <h2>Nuestros usuarios confirman que <%= image_tag "isotipo.svg" %> funciona</h2>
      </header>
        <div class="cards-testimonies">
          <div class="card-t">
            <header>
              <img src="https://img.icons8.com/bubbles/500/000000/popular-man.png"/>
              <div class="name-t">
                <h3>Sebas Restrepo</h3>
                <small>Estudiante</small>
              </div>
            </header>
            <div class="body-t">
              <i class="fa-solid fa-quote-left"></i>
              <p>A mis amigos y a mí nos gusta mucho ver series en streaming. La opción de crear grupos nos permite compartir entre nosotros las credenciales de los sitios.</p>
            </div>
          </div>
          <div class="card-t">
            <header>
              <img src="https://img.icons8.com/bubbles/500/000000/happy-woman.png"/>
              <div class="name-t">
                <h3>Alejandra Zapata</h3>
                <small>Diseñadora Gráfica</small>
              </div>
            </header>
            <div class="body-t">
              <i class="fa-solid fa-quote-left"></i>
              <p>Aegis es lo que necesitaba. Compro mucho por internet, y la función de almacenar los datos de mi tarjeta me ayuda a agilizar todo el proceso.</p>
            </div>
          </div>
          <div class="card-t">
            <header>
              <img src="https://img.icons8.com/bubbles/100/000000/male-in-love.png"/>
              <div class="name-t">
                <h3>Diego Marin</h3>
                <small>Desarrollador UX/UI</small>
              </div>
            </header>
            <div class="body-t">
              <i class="fa-solid fa-quote-left"></i>
              <p>La aplicación es maravillosa. Olvido la contraseña de mi correo electrónico cada momento y siempre tengo que recuperar la contraseña.</p>
            </div>
          </div>
          <div class="card-t">
            <header>
              <img src="https://img.icons8.com/bubbles/100/000000/popular-woman.png"/>
              <div class="name-t">
                <h3>Ana Lopez</h3>
                <small>Community Manager</small>
              </div>
            </header>
            <div class="body-t">
              <i class="fa-solid fa-quote-left"></i>
              <p>Manejo muchas contraseñas de diferentes sitios de mi empresa. Esta aplicación me ayuda a no tener que preocuparme por recordarlas todos.</p>
            </div>
          </div>
          <div class="card-t">
            <header>
              <img src="https://img.icons8.com/bubbles/500/000000/male-beloved.png"/>
              <div class="name-t">
                <h3>Juan Quintero</h3>
                <small>Desarrollador Backend</small>
              </div>
            </header>
            <div class="body-t">
              <i class="fa-solid fa-quote-left"></i>
              <p> Una aplicación genial. Me ha ayudado a recordar los datos de inicio de sesión de todas mis redes sociales. Se las recomiendo al 100.</p>
            </div>
          </div>
          </div>
        </div>
    </div>
  </div>

  <div id="sponsors" class="section-sponsor">
    <h2>Empresas que confían en nosotros</h2>
    <div class="sponsor-center">
      <div class="section-company-sponsor">
        <div class="company">
          <%= image_tag "fastbox.png" %>
        </div>
        <div class="company">
          <%= image_tag "turna.png" %>
        </div>
        <div class="company">
          <%= image_tag "yupay.png" %>
        </div>
        <div class="company">
          <%= image_tag "quehaypahacer.png" %>
        </div>
        <div class="company">
          <%= image_tag "talenty.png" %>
        </div>
        <div class="company">
          <%= image_tag "tattofinder.png" %>
        </div>
        <div class="company">
          <%= image_tag "pawsfinder.png" %>
        </div>
        <div class="company">
          <%= image_tag "katapi.png" %>
        </div>
        <div class="company">
          <%= image_tag "referent.png" %>
        </div>
      </div>
    </div>
  </div>

  <div class="about-container">
    <div class="about-center">
        <%= image_tag "isologotipo.svg" %>
        <h2>Confía en nuestra bóveda</h2>
        <p>Aegis te acompaña sin importar adónde vayas. Tus credenciales seguras en un solo lugar y al alcance de tu mano. ¿Qué esperas para unirte?</p>
        <footer>
          <%= link_to "¡Comienza gratis!", new_user_registration_path(premium: "false") %>
        </footer>
    </div>
  </div>

  <footer class="footer">
    <div class="column-1-footer">
      <div class="column-social-media">
        <h3>aegis</h3>
        <p>Medellín | Colombia</p>
        <p>Hecho con <i class="fa-solid fa-heart"></i> por estudiantes de <a id="lewagon" href="https://www.lewagon.com/es" target="_blank">Le Wagon</a></p>
      </div>
    </div>
    <div class="column-2-footer">
      <h4>Acerca de la empresa</h4>
      <div class="connect-aegis">
        <p><%= link_to "Servicios", root_path(anchor: "services") %></p>
        <p><%= link_to "Generador de contraseñas", root_path(anchor: "generator") %></p>
        <p><%= link_to "Planes de suscripción", root_path(anchor: "plains") %></p>
        <p><%= link_to "Empresas aliadas", root_path(anchor: "sponsors") %></p>
      </div>
    </div>
    <div class="column-3-footer">
      <h4>Development Team</h4>
      <div class="about-aegis">
        <div class="development-team">
          <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1663368269/bbn7fim0p3fsrznek2nu.jpg"/>
          <p><a href="https://github.com/zarco-dev" target="_blank">Sebas Restrepo</a></p>
        </div>
        <div class="development-team">
          <img src="https://avatars.githubusercontent.com/u/88150970?v=4"/>
          <p><a href="https://github.com/DIGORACCOON4279" target="_blank">Diego Marín&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></p>
        </div>
        <div class="development-team">
          <img src="https://avatars.githubusercontent.com/u/63026883?v=4"/>
          <p><a href="https://github.com/JuanSebastian0602" target="_blank">Juanse Quintero</a></p>
        </div>
      </div>
    </div>
  </footer>
</div>
<% else %>
  <!--<div id="preloader2">
    <%= image_tag "isologotipo.svg" %>
    <i class='bx bx-loader-alt bx-spin' style='color:#32A6BE' ></i>
  </div>
  <div class="home-before-dashboard"></div>-->
<% end %>
<%# <script>
  var loader = document.getElementById("preloader");
  var landing = document.getElementById("landing");
  var loader2 = document.getElementById("preloader2");
  setTimeout(() => {
    loader.style.display = "none";
    landing.classList.remove("landing-d");
  }, 1000);

  setTimeout(() => {
    loader2.style.display = "none";
    window.location.replace("https://managemypass.herokuapp.com/dashboard")
  }, 2000);
</script> %>
