<% unless user_signed_in? %>
  <div class="container-hero-section">
          <!--<img src="images/component-background.png" alt="" class="background">-->
          <div class="hero-section">
              <div class="banner">
                  <div class="headline">
                      <%= image_tag "aegis-brand.png", class: "logo-aegis" %>
                      <h1 class="title">Si tu lo olvidas, nosotros lo administramos</h1>
                      <div class="cta">
                          <a href="#" class="cta-start">Inicio</a>
                          <a href="#" class="cta-register">Registrate</a>
                      </div>
  |
                  </div>
                  <div class="img-banner">
                      <div class="image-social-media">
                      <!--<img src="images/image-banner.png" alt="" class="image">-->
                          <div class="social-media-hero-section">

                                  <%= image_tag "facebook-hero-section.png", class: "flaticon flaticon-1" %>
                                  <%= image_tag "facebook-message-hero-section.png", class: "flaticon-b flaticon-2" %>
                                  <%= image_tag "ghost-hero-section.png", class: "flaticon-c flaticon-3" %>
                                  <%= image_tag "github-hero-section.png", class: "flaticon-b flaticon-4" %>
                                  <%= image_tag "google-hero-section.png", class: "flaticon-c flaticon-5" %>
                                  <%= image_tag "linkedin-hero-section.png", class: "flaticon flaticon-6" %>
                                  <%= image_tag "pinterest-hero-section.png", class: "flaticon-c flaticon-7" %>
                                  <%= image_tag "slack-hero-section.png", class: "flaticon-d flaticon-8" %>
                                  <%= image_tag "twitter-hero-section.png", class: "flaticon-c flaticon-9" %>
                                  <%= image_tag "whatsapp-hero-section.png", class: "flaticon flaticon-10" %>
                                  <%= image_tag "youtube-hero-section.png", class: "flaticon-b flaticon-11" %>
                          </div>
                          <%= image_tag "image-banner-1.png", class: "image" %>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="section-services">
          <div class="ball-pink"></div>

          <h2 class="subtitle">Nuestros servicios</h2>
          <div class="cards-services">

              <div class="services-pink">
                  <img src="images/flaticon-1.png" alt="" class="item-services">
                  <p class="">Aegis hace todo lo que tu esperarias desde administrar un password y mas.</p>
              </div>
              <div class="services-blue">
                  <img src="images/flaticon-2.png" alt="" class="item-services">
                  <p class="">Aegis hace todo lo que tu esperarias desde administrar un password y mas.</p>

              </div>
              <div class="services-pink">
                  <img src="images/flaticon-3.png" alt="" class="item-services">
                  <p class="">Aegis hace todo lo que tu esperarias desde administrar un password y mas.</p>

              </div>
              <div class="services-blue">
                  <img src="images/flaticon-4.png" alt="" class="item-services">
                  <p class="">Aegis hace todo lo que tu esperarias desde administrar un password y mas.</p>

              </div>
              <div class="services-pink">
                  <img src="images/flaticon-5.png" alt="" class="item-services">
                  <p class="">Aegis hace todo lo que tu esperarias desde administrar un password y mas.</p>

              </div>
              <div class="services-blue">
                  <img src="images/flaticon-6.png" alt="" class="item-services">
                  <p class="">Aegis hace todo lo que tu esperarias desde administrar un password y mas.</p>
              </div>
          </div>
      </div>

      <div class="section-cards-profiles">
              <h2 class="subtitle"><span>Aegis</span> es para <span>todos</span></h2>
              <div class="cards-clients">
                  <div class="card">
                      <figure>
                          <img src="images/pic-woman-1.png" alt="" class="services">
                      </figure>
                      <div class="text">
                          <h3>Empresas</h3>
                          <p>Aegis hace todo lo que tu esperarias desde administrar un password y mas.</p>
                          <a href="#" class="plan">Plan premium ></a>
                      </div>
                      <img src="images/flaticon-7.png" alt="" class="flaticon">

                  </div>
                  <div class="card">
                      <figure>
                          <img src="images/pic-woman-2.png" alt="" class="services">
                      </figure>
                      <div class="text">
                          <h3>Estudiantes</h3>
                          <p>Aegis hace todo lo que tu esperarias desde administrar un password y mas.</p>
                          <a href="#" class="plan">Plan personal ></a>
                      </div>
                      <img src="images/flaticon-8.png" alt="" class="flaticon">

                  </div>
                  <div class="card">
                      <figure>
                          <img src="images/pic-man-1.png" alt="" class="services">
                      </figure>
                      <div class="text">
                          <h3>Profesionales</h3>
                          <p>Aegis hace todo lo que tu esperarias desde administrar un password y mas.</p>
                          <a href="#" class="plan">Plan premium ></a>
                      </div>
                      <img src="images/flaticon-9.png" alt="" class="flaticon">

                  </div>
                  <div class="card">
                      <figure>
                          <img src="images/pic-man-2.png" alt="" class="services">
                      </figure>
                      <div class="text">
                          <h3>Emprendedores</h3>
                          <p>Aegis hace todo lo que tu esperarias desde administrar un password y mas.</p>
                          <a href="#" class="plan">Plan personal ></a>
                      </div>
                          <img src="images/flaticon-10.png" alt="" class="flaticon">

                  </div>
              </div>
      </div>

      <div class="ball-pink"></div>

      <div class="section-passwords-free">
              <h2 class="subtitle">Prueba <span>gratis</span> nuestros <span>passwords!!!</span></h2>

              <div class="passwords">
                  <div class="try-passwords">


                  </div>
                  <div class="email">

                  </div>
              </div>
              <a href="#" class="passwords-cta">Guardar contraseña</a>
              <div class="ball-pink"></div>


      </div>

      <div class="section-plan">
          <h2 class="subtitle">Adquiere <span>Ya tu plan!!!</span></h2>
          <div class="cards">
              <div class="card-personal">
                  <h3>Personal ae<span>gis</span></h3>
                  <img src="images/flaticon-2.png" alt="" class="services-img">

                  <div class="article-text">
                      <div class="article">
                          <img src="images/check-list-favicon.png" alt="" class="services">
                          <p>20 passwords</p>
                      </div>
                      <div class="article">

                      </div>
                      <div class="article">
                          <img src="images/check-list-favicon.png" alt="" class="services">
                          <p>Crea tus propias categorias</p>

                      </div>
                      <div class="article">
                          <img src="images/check-list-favicon.png" alt="" class="services">
                                      <p>Passwords bancarios</p>
                      </div>
                      <div class="article">
                          <img src="images/check-list-favicon.png" alt="" class="services">
                          <p>Actualizar passwords</p>
                      </div>
                      <div class="article">

                      <img src="images/cancel-list-favicon.png" alt="" class="services">
                      <p>Crea y administra sus grupos</p>

                      </div>
                  </div>
                <a href="#" class="cta-register">Registrate</a>
              </div>

              <div class="card-premium">
                  <h3>Premium ae<span>gis</span></h3>
                  <img src="images/flaticon-10.png" alt="" class="services-img">
                  <div class="article-text">
                      <div class="article">
                          <img src="images/check-list-favicon.png" alt="" class="services">
                          <p>Passwords ilimitados</p>
                      </div>
                      <div class="article">
                          <img src="images/check-list-favicon.png" alt="" class="services">
                          <p>Crea tus propias categorias</p>

                      </div>
                      <div class="article">
                          <img src="images/check-list-favicon.png" alt="" class="services">
                          <p>Passwords bancarios</p>

                      </div>
                      <div class="article">
                          <img src="images/check-list-favicon.png" alt="" class="services">
                          <p>Actualizar passwords</p>

                      </div>
                      <div class="article">
                          <img src="images/check-list-favicon.png" alt="" class="services">
                          <p>Crea y administra sus grupos</p>

                      </div>
                  </div>
                      <a href="#" class="cta-register">Registrate</a>
              </div>
          </div>

      </div>

      <div class="section-testimonies">
          <h2 class="subtitle">Testimonios</h2>
          <div class="cards-testimonies">
              <div class="card cards-1">
                  <div class="text-1">
                      <img src="images/testimony-1.png" alt="" class="services">
                      <h3>Jacob Jones</h3>
                  </div>
                  <div class="text-2">
                      <p>¡Esta app es muy útil! La uso constantemente para llevar un registro de todas las contraseñas!</p>
                      <img src="images/rating-stars.png" alt="" class="rating-stars">
                  </div>
              </div>
              <div class="card cards-2">
                  <div class="text-1">
                      <img src="images/testimony-2.png" alt="" class="services">
                      <h3>Devon Lane</h3>
                  </div>
                  <div class="text-2">
                      <p>Sinceramente, no podría vivir sin esta aplicación.</p>
                      <img src="images/rating-stars.png" alt="" class="rating-stars">
                  </div>
              </div>
              <div class="card cards-3">
                  <div class="text-1">
                      <img src="images/testimony-3.png" alt="" class="services">
                      <h3>Darrell Steward</h3>
                  </div>
                  <div class="text-2">
                      <p>Soy  bastante exigente y esta aplicación ha superado mis expectativas en todos los niveles.</p>
                      <img src="images/rating-stars.png" alt="" class="rating-stars">
                  </div>
              </div>
              <div class="card cards-4">
                  <div class="text-1">
                      <img src="images/testimony-4.png" alt="" class="services">
                      <h3>Jane Cooper</h3>
                  </div>
                  <div class="text-2">
                      <p>Adoro esta aplicación, de verdad.</p>
                      <img src="images/rating-stars.png" alt="" class="rating-stars">
                  </div>
              </div>
              <div class="card cards-5">
                  <div class="text-1">
                      <img src="images/testimony-5.png" alt="" class="services">
                      <h3>Leslie Alexander</h3>
                  </div>
                  <div class="text-2">
                      <p>Hacen que mi vida sea más segura y fácil.</p>
                      <img src="images/rating-stars.png" alt="" class="rating-stars">
                  </div>
              </div>
          </div>
      </div>

      <div class="section-sponsor">
          <h2 class="subtitle">Empresas que <span>confian</span> en <span>nosotros</span></h2>
          <div class="section-company-sponsor">
              <div class="company">
                  <img src="images/sponsor-1.jpg" alt="" class="sponsor">
              </div>
              <div class="company">
                  <img src="images/sponsor-2.jpg" alt="" class="sponsor">
              </div>
              <div class="company">
                  <img src="images/sponsor-3.jpg" alt="" class="sponsor">
              </div>
              <div class="company">
                  <img src="images/sponsor-4.jpg" alt="" class="sponsor">
              </div>
              <div class="company">
                  <img src="images/sponsor-5.jpg" alt="" class="sponsor">
              </div>
              <div class="company">
                  <img src="images/sponsor-6.jpg" alt="" class="sponsor">
              </div>
              <div class="company">
                  <img src="images/sponsor-7.jpg" alt="" class="sponsor">
              </div>
          </div>

      </div>

      <div class="ball-pink"></div>

      <div class="footer">
          <div class="column-1-footer">

                  <img class="logo" src="images/logo-name.png" alt="">
                  <div class="column-social-media">
                      <p>Medellin | Colombia</p>
                      <div class="social-media">
                          <a href="https://es-la.facebook.com/"><img src="images/facebook.png" alt="" class="item-media"></a>
                          <a href="https://www.instagram.com/"><img src="images/instagram.png" alt="" class="item-media"></a>
                          <a href="https://www.youtube.com/"><img src="images/youtube.png" alt="" class="item-media"></a>
                          <a href="https://twitter.com/?lang=es"><img src="images/twitter.png" alt="" class="item-media"></a>
                      </div>
                  </div>
          </div>
          <div class="column-2-footer">
              <h4>Conectate con aegis</h4>
              <div class="connect-aegis">
                  <p>Soporte al cliente</p>
                  <p>Politica de privacidad</p>
                  <p>Terminos y condiciones</p>
                  <p>Servicios externos</p>


              </div>
          </div>
          <div class="column-3-footer">
              <h4>Acerca de aegis</h4>
              <div class="about-aegis">
                  <p>Que es aegis</p>
                  <p>Nuestra identidad</p>
                  <p>Marca y logotipo</p>
                  <p>Mision y vision</p>

              </div>
          </div>
      </div>
      <% else %>

<% date_in = current_user.subscription.begining_date %>
  <% date_start = "#{date_in.day}/#{date_in.month}/#{date_in.year}" %>
  <div class="container p-5 bg-secondary">
    <h1>Tienes un plan: <%= current_user.subscription.subscription_plan.title %></h1>
    <p>Se activo el: <%= date_in.day  %>-<%= date_in.month  %>-<%= date_in.year  %></p>
    <% if current_user.subscription.expired_date.eql?(nil) %>
      <p>No se vence</p>
    <% else %>
      <% date_out = current_user.subscription.expired_date %>
      <% date_end = "#{date_out.day}/#{date_out.month}/#{date_out.year}" %>
      <p>Se vence en: <%= date_out.day %>-<%= date_out.month %>-<%= date_out.year %></p>
      <p>Te quedan: <%= (Date.parse(date_end) - Date.parse(date_start)).to_i %> días</p>
    <% end %>
  </div>
      <% end %>
