<div class="banking-all" >
  <div class="row row-test">
    <%= render "shared/left_navbar" %>
    <div class="col-9 index-cards">
      <div class="options-cards" data-sidebar-target="colorbank">
        <h2 class="title-invitation title-slide-in">Mis contraseñas</h2>
        <% if @password.size >= 5 && current_user.premium_user == false %>
          <h4>No puedes crear más contraseñas, cambiate a premium!</h4>
        <% else %>
          <%= link_to '+ Crear contraseña', new_password_path, class: "btn btn-blue" %>
        <% end %>
      </div>
      <div class="text-white my-5 p-3 mis-passwords">
        <% @password.each_with_index do |password, num| %>
          <div class="card-pass-index mt-4 mb-4 p-3" style="
            animation: cardSlide <%= num + 1 - num * 0.75 %>s;
            ">
            <div class="header-card">
              <div id="d1">
                <img src="<%= password.category %>" alt="">
                <h3><%= link_to password.site_name, password_path(password)%></h3>
              </div>
              <div id="d2">
                <%= link_to edit_password_path(password) do %>
                  <button type="button" class="btn btn-primary" style="color: white;"><i class="fa-solid fa-pen-to-square"></i></button>
                <% end %>
                <%= link_to password, data: { turbo_method: :delete, turbo_confirm: "Quieres borrar esta contraseña?" } do %>
                  <button type="button" class="btn btn-danger" style="color: white;"><i class="fa-solid fa-trash"></i></button>
                <% end %>
              </div>
            </div>
            <div class="mt-1"
            style="line-height: 1.6rem;">
              <p>Categoría: <%= password.category %></p>
              <p>Url: <%= password.url %></p>
              <p>Contraseña: <%= password.site_password %></p>
            </div>

          </div>
        <% end %>


          <!--<% count_notifications = GroupInvitation.where(user_id: current_user.id).group(:status).count %>
          <% if count_notifications[false] == nil %>
            <p class="noyet">No tienes invitaciones aún <i class="fa-solid fa-face-sad-cry"></i></p>
          <% end %>-->
      </div>
        <div class="circle-fondo-mispassword"></div>
    </div>
  </div>
</div>


 <script>
    document.title = "Aegis: Tus contraseñas";
  </script>
