<div class="dashboard-body text-white">
  <div class="blue-bg container p-5">
    <div class="row">

      <div class="col-3">
        <%= render "shared/left_navbar"%>
      </div>

        <div class="blue-border-box-1">
        </div>

      <div class="col-9">

        <h1 class="title-slide-in">Mis contraseñas</h1>
        <% @password.each_with_index do |password, num| %>
          <div class="dash-card mt-4 mb-4 p-3" style="
            animation: cardSlide <%= num + 1 - num * 0.75 %>s;
            ">

            <div class="d-flex justify-content-between">
              <h3>Nombre del sitio: <%= password.site_name %></h3>

              <div class="d-flex justify-content-between"
              style="width: 10%;">
                <%= link_to edit_password_path(password) do %>
                  <button type="button" class="btn btn-primary" style="color: white;"><i class="fa-solid fa-pen-to-square"></i></button>
                <% end %>
                <%= link_to password, data: { turbo_method: :delete, turbo_confirm: "Quieres borrar esta contraseña?" } do %>
                  <button type="button" class="btn btn-danger" style="color: white;"><i class="fa-solid fa-trash"></i></button>
                <% end %>
              </div>
            </div>

            <div class="mt-1"
            style="line-height: 1.6rem;">
              <p>Categoría: <%= password.category %></p>
              <p>Url: <%= password.url %></p>
              <p>Contraseña: <%= password.site_password %></p>
            </div>

          </div>
        <% end %>

        <% if @password.size >= 5 && current_user.premium_user == false %>
          <h4 class="mt-5">Has excedido el limite de contraseñas, cambia tu plan a premium!</h4>
        <% else %>
          <%= link_to '+ Crear contraseña', new_password_path, class: "btn btn-blue" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
