<div class="banking-all" >
  <div class="row row-test">
    <%= render "shared/left_navbar" %>
      <div class="col-9 index-cards" data-controller="passindex searchcards">
        <div class="options-cards" data-sidebar-target="colorbank">
          <h2 class="title-invitation">Mis contraseñas</h2>
            <%= form_with url: dashboard_path, method: :get, html: { data: { searchcards_target: "searchcard" } } do |f| %>
          <div class="search-form-control form-group">
            <%= f.text_field :query,
                              class: "form-control",
                              value: params[:query],
                              data: { searchcards_target: "inputsearch", action: "keyup->searchcards#showcards"} %>
            <button class="btn btn-flat">
              <i class="fas fa-search"></i> Buscar tarjeta por nombre
            </button>
          </div>
        <% end %>
        <% if @password.size >= 5 && current_user.premium_user == false %>
              <div class="btn-disable">Agregar contraseña</div>
            <% else %>
              <%= link_to 'Agregar contraseña', new_password_path, class: "btn-active-2" %>

            <% end %>
        </div>
          <% count_notifications = Password.where(user_id: current_user.id).count %>
            <% if count_notifications.eql?(0) %>
              <h2 class="noyetpass">No has agregado contraseñas todavía.</h2>
              <%= link_to new_password_path do %>
                <i class="fa-solid fa-circle-plus move-plus" id="agregar-bank"></i>
              <% end %>
            <% else %>
              <% if @password.size >= 5 && current_user.premium_user == false %>
                <h4 class="alert-2"><lord-icon
                  src="https://cdn.lordicon.com/tdrtiskw.json"
                  trigger="loop"
                  delay="5000"
                  colors="primary:#e83a30,secondary:#ee6d66"
                  style="width:70px;height:70px">
              </lord-icon>No puedes crear más contraseñas, <a> ¡cambiate a premium!</a></h4>
              <% end %>
              <%= render "passwords/parm", passwords: @password %>
            <% end %>
        <div class="circle-fondo-mispassword"></div>
      </div>
  </div>
</div>

<script>
  document.title = "Aegis: Tus contraseñas";
</script>
