<div class="log-in-container">
<div class="circle-login"></div>
  <div class="form-sign" id="sign-in-valid">
    <h2>Inicia Sesión</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    label: "Correo electrónico",
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <span class="icon-input"><i class="fa-solid fa-envelope"></i></span>
        <span><%= f.input :password,
                    label: "Contraseña",
                    input_html: { autocomplete: "current-password" } %></span>
        <span class="icon-input"><i class="fa-solid fa-eye-slash"></i></span>
        <%= f.input :remember_me, label: "Recuerdame", as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions form-footer">
        <%= f.button :submit, "Inicia sesión" %>
        <div class="buttons-footer">
        <p>¿No tienes cuenta?</p>
        <p><%= render "devise/shared/links" %></p>
        </div>
      </div>
    <% end %>

    <%# <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, method: :post %>
    <%# <%= button_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>

  </div>
</div>
