<div class="banking-all">
<script>
  document.title = "Aegis: Tus tarjetas";
</script>
  <div class="row row-test">
    <%= render "shared/left_navbar" %>
    <div class="col-9 index-cards" data-controller="searchcards">
      <div class="options-cards" data-sidebar-target="colorbank">
        <%= link_to new_bank_password_path do %>
          Almacenar tarjeta<i class="fa-solid fa-circle-plus"></i>
        <% end %>
        <%= form_with url: bank_passwords_path, method: :get, html: { data: { searchcards_target: "searchcard" } } do |f| %>
          <div class="search-form-control form-group">
            <%= f.text_field :query,
                              class: "form-control",
                              value: params[:query],
                              data: { searchcards_target: "inputsearch", action: "keyup->searchcards#showcards"} %>
            <button class="btn btn-flat">
              <i class="fas fa-search"></i> Buscar tarjeta por número
            </button>
          </div>
        <% end %>
      </div>
        <%= link_to new_bank_password_path do %>
          <i class="fa-solid fa-circle-plus" id="agregar-bank"></i>
          <%# <%= image_tag "plus.png", class: "fa-circle-plus" %>
        <% end %>

        <%= render "parm", bank_passwords: @bankpasswords %>
        <div class="circle-fondo-bank"></div>

    </div>
  </div>
</div>
