<div class="banking-all">
<script>
  document.title = "Aegis: Tus tarjetas";
</script>
  <div class="row row-test">
    <%= render "shared/left_navbar" %>
    <div class="col-9 index-cards" data-controller="searchcards">
      <div class="options-cards" data-sidebar-target="colorbank">
        <% if @bankpasswords.size >= 5 && current_user.premium_user == false %>
          <% else %>
          <%= link_to new_bank_password_path do %>
            Almacenar tarjeta<i class="fa-solid fa-circle-plus"></i>
          <% end %>
        <% end %>
        <%= form_with url: bank_passwords_path, method: :get, html: { data: { searchcards_target: "searchcard" } } do |f| %>
          <div class="search-form-control form-group">
            <%= f.text_field :query,
                              class: "form-control",
                              value: params[:query],
                              data: { searchcards_target: "inputsearch", action: "keyup->searchcards#showcards"} %>
            <button class="btn btn-flat">
              <i class="fas fa-search"></i> Buscar tarjeta por número
            </button>
          </div>
        <% end %>
      </div>
        <% count_notifications = BankPassword.where(user_id: current_user.id).count %>
          <% if count_notifications.eql?(0) %>
          <h2 class="noyetbank">No has agregado tarjetas todavía.</h2>
          <%= link_to new_bank_password_path do %>
            <i class="fa-solid fa-circle-plus move-plus" id="agregar-bank"></i>
          <% end %>
          <% else %>
            <%= render "parm", bank_passwords: @bankpasswords %>
            <% if @bankpasswords.size >= 5 && current_user.premium_user == false %>
                <h4 class="alert-3"><lord-icon
                  src="https://cdn.lordicon.com/tdrtiskw.json"
                  trigger="loop"
                  delay="5000"
                  colors="primary:#e83a30,secondary:#ee6d66"
                  style="width:70px;height:70px">
              </lord-icon>No puedes crear más tarjetas, ¡cambiate a premium!</h4>
              <% end %>
          <% end %>
        <div class="circle-fondo-bank"></div>

    </div>
  </div>
</div>
