<div class="sign-up-container" data-controller="signup">
  <div class="circle"></div>
  <div class="subscription-container" data-signup-target="subscontainer">
    <div class="basic-container" data-action="mouseover->signup#hover" data-signup-target="basic">
      <div class="info-plan">
        <h2>BASIC PLAN</h2>
        <span>¡Comienza Gratis!</span>
          <div class="price-container">
            <h2>FREE</h2>
          </div>
      </div>
      <div class="basic-features">
        <div class="feature-container">
          <i class="fa-solid fa-circle-check"></i>
          <p>Almacena hasta 15 passwords</p>
        </div>
        <div class="feature-container">
          <i class="fa-solid fa-circle-check"></i>
          <p>Crea categorias para las passwords</p>
        </div>
        <div class="feature-container">
          <i class="fa-solid fa-circle-check"></i>
          <p>Guarda tus passwords bancarios</p>
        </div>
        <div class="feature-container">
          <i class="fa-sharp fa-solid fa-circle-xmark"></i>
          <p>Crea grupos y controla accesos</p>
        </div>
        <div class="feature-container">
          <i class="fa-sharp fa-solid fa-circle-xmark"></i>
          <p>Comparte tus passwords</p>
        </div>
      </div>
      <div class="button-basic">
        <button type="submit" data-signup-target="buttonbasic" data-action="click->signup#submitbasic" type="submit" value="basic">Comienza Gratis</button>
      </div>
    </div>
    <div class="basic-container premium-container" data-action="mouseover->signup#hoverp" data-signup-target="premium">
      <div class="info-plan">
        <h2>PREMIUM MENSUAL</h2>
        <span>¡Ahorras $25 USD!</span>
        <div class="price-container active">
          <span>$60</span>
          <div class="line-stroke"></div>
          <h2>$35</h2>
        </div>
      </div>
      <div class="basic-features">
        <div class="feature-container">
          <i class="fa-solid fa-circle-check"></i>
          <p>Almacena passwords ilimitados</p>
        </div>
        <div class="feature-container">
          <i class="fa-solid fa-circle-check"></i>
          <p>Crea categorias para las passwords</p>
        </div>
        <div class="feature-container">
          <i class="fa-solid fa-circle-check"></i>
          <p>Guarda tus passwords bancarios</p>
        </div>
        <div class="feature-container">
          <i class="fa-solid fa-circle-check"></i>
          <p>Crea grupos y controla accesos</p>
        </div>
        <div class="feature-container">
          <i class="fa-solid fa-circle-check"></i>
          <p>Comparte tus passwords</p>
        </div>
      </div>
      <div class="button-basic button-premium">
        <button data-signup-target="buttonpremium" data-action="click->signup#submitpremium" type="submit" value="premium">¡Sube a premium ahora!</button>
      </div>
    </div>
    </div>

  <div class="form-sign form-sign-up" data-signup-target="signup">
    <h2>Crea tu cuenta <span data-signup-target="titleplan"></span></h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
      <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :username, label: "Nombre de usuario", required: false, minlength: 3 %>
          <%= f.input :email,
                      label: "Correo electrónico",
                      input_html: { autocomplete: "email" }, required: false%>
          <%= f.input :password, minlength: 6,
                      label: "Contraseña maestra",
                      hint: ("#{@minimum_password_length} caracteres mínimo" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation, minlength: 6,
                      label: "Confirmar contraseña maestra",
                      input_html: { autocomplete: "new-password" } %>
          <span data-signup-target="premiumuser"><%= f.hidden_field :premium_user %></span>
        </div>
        <div class="form-actions form-footer">
          <%= f.button :submit, "Registrarse" %>
          <div class="buttons-footer">
          <p>¿Ya tienes cuenta?</p>
          <p><%= render "devise/shared/links" %></p>
          </div>
        </div>
      <% end %>
  </div>
  </div>
</div>
